.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/dataSources/0a0403b6-9822-4355-a4ad-5fa0d938d097.xml
/.idea/dataSources.local.xml
/.idea/dataSources/0a0403b6-9822-4355-a4ad-5fa0d938d097/storage_v2/_src_/schema/sample_board.EWA0Gg.meta
/.idea/shelf/Uncommitted_changes_before_Update_at_2025__2__26__19_05_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2025__2__26__19_05__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2025__2__26__19_05_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2025__2__26__19_05_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2025__2__26__19_05_[Changes]/shelved.patch
